* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  background-color: #FF9A4B;
  height: 50px;
}

.main-contents{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step{
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px 10px;
  margin-right: 30px;
  position: relative;
}

.step:nth-child(3){
  margin-right: 0;
}

.step-num{
  position: absolute;
  top:0;
  left:0;
  background-color: #FF9A4B;
  color: #fff;
}


.step-image{
  height: 150px;
  background-size: cover;
  background-position: bottom;
}


.box1 .step-image{
  background-image: url("img/flow01.png");
}

.box2 .step-image{
  background-image: url("img/flow02.png");
}

.box3 .step-image{
  background-image: url("img/flow03.png");
}

.step-title{
  padding: 15px 0 5px 0;
}

footer{
  background-color: #AAAAAA;
  height: 50px;
}